body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#wrapper{
    width: 960px;
}

#logo{
    width: 160px;
}

#nav{
    width: 795px;
    line-height: 100px;
    text-align: right;
    text-decoration: none;
}

#main{
    background-image: url("../img/car.jpg");
    height: 554px;
}

#main h2{
    color: blue;
}

#footer{
    background-color: black;
    height: 110px;
    color: white;
    font-size: 20px;
    line-height: 110px;
    text-align: center;
}

#message{
    width: 480px;
    height: 554px;
    color: white;
    background-color: black;
    opacity: 0.8;
}
#message h1{
    top: 123px;
    left: 20px;
    position: relative;
}
#message h2{
    top: 128px;
    left: 300px;
    position: relative;
}
#photo{
    width: 293px;
    height: 280px;
    border: 1px solid black;
    padding: 15px;
}

#photo h2,p{
    margin: 0;
}

#text{
    width: 570px;
    padding-left: 25px;
}

#text p{
    padding-left: 30px;
}

#text table{
    border: 1px solid black;
}

#info{
    width: 960px;
    height: 500px;
}
.center{
    margin-left: auto;
    margin-right: auto;
}

.button{
    display: inline;
    text-align: right;
    text-decoration: none;
}

.button:hover{
    text-decoration: underline;
}
.floatLeft{
    float: left;
}

.clearFloat{
    clear: both;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}